* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "CustomFont";
  src: url("/assets/font/Ballista.ttf");
}
html {
  font-family: "CustomFont";
  font-size: 16px;
  color: white;
}

body {
  background-image: url("/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 20px 5%;
  z-index: -3;
}

/* shared main css  */

.navbar:hover,
.name:hover,
.pictures:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.4);
  transform: translate(0px, -1px);
}
.navbar,
.name,
.pictures {
  transition: box-shadow ease 4s;
  transition: transform ease 0.8s;
  transition-duration: 300ms;
  /* glassmorphhism */
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(63, 63, 63, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

/* ***************************** nav bar  *********************/

.navbar {
  margin-top: 40px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 0.7rem;
  border-radius: 30px;
}

.navbar:h {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.4);
  transform: translate(0px, -1px);
}

select {
  border: 1px solid rgb(104, 99, 103);
  line-height: 0;

  width: 32px;
  height: 24px;
  border-radius: 4px;
  font-size: 2rem;
  -moz-appearance: none; /* for Firefox */
  -webkit-appearance: none; /* for Chrome */
}
select::-ms-expand {
  display: none;
}

.logo img {
  height: 130px;
  /* margin-left: 40px; */
}

.social-icons a {
  color: rgb(173, 116, 8);
  font-size: 1.8rem;
  margin-left: 15px;
}
.fa-instagram,
.fa-telegram {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#df9902),
    to(#4d390f88)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* logo border  */
.logo img {
  -webkit-filter: drop-shadow(2px 2px 0 rgb(255, 188, 62))
    drop-shadow(-2px -2px 0 rgba(43, 248, 255, 0.644));
  filter: drop-shadow(2px 2px 0 rgb(255, 188, 62))
    drop-shadow(-2px -2px 0 rgba(43, 248, 255, 0.644));
}
/* logo RGB light */
:root {
  --gradient-shadow: linear-gradient(
    45deg,
    /* #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000 */
      #d7be8e,
    #83c2c7,
    #40aead,
    #f29f37,
    #554f75
  );
}
.shadow {
  height: 60px;
  margin-left: 45px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.shadow:before,
.shadow:after {
  transform: translate3d(0px, 9px, 0) scale(1);
  border-radius: 50px;
  content: "";
  position: absolute;
  background: var(--gradient-shadow);
  background-size: 500%;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
  animation: animate 15s linear infinite;
}

.shadow:after {
  filter: blur(15px);
  transform: translate3d(0px, 0px, 0) scale(2.5);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    /* speed of the rgb */
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ***************************** nav bar end *********************/

/* ***************************** Club name  ***************************** */

.name {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  letter-spacing: 15px;
  margin-top: 20px;
  text-align: center;
  height: 90px;
  border-radius: 30px;
}
.sportsclub {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fffbf0;
}
.seven24 {
  position: relative;
  z-index: -3;
  display: none;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa !important;
  color: #fffbf0;
}

.name h1 {
  font-size: 1.7rem;
  color: #df9902e5;
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 1); */
}

.name h2 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
  letter-spacing: 7px;
  font-size: 0.7rem;
}

/* ***************************** Club name  end ***************************** */

/* ***************************** main ***************************** */

.pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin-top: 20px;
  height: 50dvh;
  font-size: 0.7rem;
  border-radius: 30px;
}
.mySlides {
    width: 200px;
  /* max-width: 70%; */
  margin: auto;
  display: none;
  border-radius: 30px;
}
.sign{

    margin-bottom: 20px;
    text-align: center;
}
@media (min-width: 576px) {
  .seven24 {
    display: inline;
  }
}
